<!DOCTYPE html>
<html>
    <head>
        <title>
            Form
        </title>
        <link rel="stylesheet" href="/css/site.css"/>
    </head>
    <body>
        <form>
            <div id="pageRestricted">
                <table id="header">
                    <tbody>
                        <tr>
                            <td>
                                <div id="title">
                                    <h1>Student Information Form</h1>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table id="navBar"></table>
                <div id="main">
                    
                </div>
            </div>
        </form>
    </body>
</html>