<!DOCTYPE html>
<html>
    <head>
        <title>Newmont Rewards Website</title>
        <link rel="icon" type="image/x-icon" href="/images/neuicon.png">
        <link rel="stylesheet" href="/css/site.css"/>
    </head>
    <body>
        <form name="sampleForm" id="sampleForm" >
            <div id="pageRestricted">
                <table id="header">
                    <tbody>
                        <tr>
                            <td>
                                <div id="title">
                                    <h1>Neumont Rewards Website</h1>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table id="navBar"></table>
                <div id="main">
                    <table border="0" style="padding-top: 20px;">
                        <tbody>
                            <tr>
                                <td style="vertical-align: top;">
                                    <h2>
                                        Welcome to the Neumont Rewards Website!
                                    </h2>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h3>Description</h3>
                                    <p>
                                        This is an exclusive rewards platform designed for Neumont College of Computer Science students. We provide a seamless way to earn gift cards and exclusive perks by simply inputing your student information.
                                        Whether you're looking for gift cards, Neumont Market Discounts, or student perks, we make it easy and beneficial for you.
                                    </p>
                                    <h4>How it works!</h4>
                                    <p>
                                        <span style="color: #BF2E1A">Important Notice</span>
                                        Based on the amount of information inputted into the Student Form, the increased odds on getting more valuable rewards. Odds are determined by how many input fields you enter in the student information form provided at the bottom of the Catalog.
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h3>Catalog</h3>
                    <p>Here are just samples of what you can get</p>
                    <table>
                        <tbody>
                            <tr>
                                <th>Visa or Other Gift Cards:</th>
                                <td>Amounts - $15, $25, $50, $100</td>
                                <td>
                                    <img src="/images/smiths.jpg" alt="Smith's Gift Card" >
                                    <img src="/images/visa.jpg" alt="Smith's Gift Card" >
                                </td>
                            </tr>
                            <tr>
                                <th>Neumont Merch:</th>
                                <td>Hoodies, Shirts, Hats, Stickers</td>
                                <td>
                                    <img src="/images/neumontshirt.jpeg" alt="Neumont Shirt" >
                                    <img src="/images/neumonthoodie.jpeg" alt="Neumont Hoodie" >
                                </td>
                            </tr>
                            <tr>
                                <th>Neumont Market Discount: </th>
                                <td>5%, 10%, 15%, 20%</td>
                            </tr>
                        </tbody>
                    </table>
                    <a href="/form">
                        <button type="button"> Student Form </button>
                    </a>
                </div>
            </div>
        </form>
    </body>
    <footer>@Copyright Neunont College of Computer Science 2025</footer>
</html>